<footer><span>

    <div class="col-sm-4 resume-contact">
          <a href="https://twitter.com/weitzman/" target="_blank"><i class="fa fa-twitter fa-lg fa-fw"></i>@weitzman</a>
<i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/weitzman/" target="_blank">@weitzman</a>
        <i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/weitzman" target="_blank">linkedin.com/in/weitzman</a>
<i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:weitzman@tejasa.com" target="_blank">weitzman@tejasa.com</a>
<i class="fa fa-map-marker fa-lg fa-fw"></i> Boston USA

    </div>

</span></footer>