---
layout: default
---
<article id="post-page">
	<h2>{{ page.title }}</h2>		
	<time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}</time>
	<div class="content">

		{{ content }}
		
	</div>
</article>


<form class="pure-form pure-form-aligned" method="POST" action="https://api.staticman.net/v2/entry/weitzman/blog/master/comments">
	<!-- e.g. "2016-01-02-this-is-a-post" -->
	<input name="options[slug]" type="hidden" value="{{ page.slug }}">
	<input name="options[redirect]" type="hidden" value="https://weitzman.github.io/blog">
	<fieldset>
		<div class="pure-control-group">
			<label for="fields[name]">Name</label>
			<input id="fields[name]" name="fields[name]" type="text" placeholder="Name" class="pure-input-1" required>
			<span class="pure-form-message-inline"></span>
		</div>

		<div class="pure-control-group">
			<label for="fields[email]">Email</label>
			<input id="fields[email]" name="fields[email]" type="email" placeholder="Email" class="pure-input-1" required>
		</div>

		<div class="pure-control-group">
			<label for="fields[message]">Message</label>
			<textarea rows="12" id="fields[message]" name="fields[message]" placeholder="Markdown is allowed." class="pure-input-1" required></textarea>
			<span class="pure-form-message">Comments will appear after moderation.</span>
		</div>
		<div class="pure-controls">
			<button type="submit" class="pure-button pure-button-primary">Submit</button>
		</div>
	</fieldset>
</form>
